.col-md-10
  %br
  %h2 Phase findings
  %h3 #{@phase.title}
  %br

  %form{:method => 'post', :action => '/MultiPhase/findings/add'}
    %input{ :type => "hidden", :name => "report_id", :value => "#{@report_id}" }
    %input{ :type => "hidden", :name => "phase_id", :value => "#{@phase_id}" }
    %select#newPhase{ :name => "finding_id" }
      - @available_findings.each do |finding|
        %option{ :value => "#{finding.id}" }
          #{finding.title}
    %input.btn.btn-default{ :type => "submit", :value => "Add" }

    .table.table-striped#mytable
      %table{ :style => "width: 80%" }
        %thead
          %tr
            %th{ :style => "width: 60%" }
              Phase Findings
            %th{ :style => "width: 20%" }
        - if @phase_findings.size > 0
          %tbody
            - @phase_findings.each do |finding|
              %tr
                %td{ :style => "width: 80%" }
                  #{@all_findings.find{|obj| obj.id == finding.finding_id}.title}
                %td{ :style => "width: 20%" }
                  %a.btn.btn-danger{ :style => "float: right", :href => "/MultiPhase/findings/delete?report_id=#{@report_id}&phase_id=#{@phase_id}&finding_id=#{finding.id}" }
                    %i.icon-remove.icon-white{ :title => "Delete" }

    %br
    %a.btn.btn-default{ :href => "/MultiPhase?report_id=#{@report_id}" }
      Cancel
